body                    { padding: 0px; margin: 0; font-family: Arial; }
.supercrop_container    { margin: 0px; position: relative; overflow:hidden; display:inline-block; background: url(img/checkerboard.png);}
.supercrop_inner	    { position: relative;  }
.supercrop_hello 	    { width:100%; height:100%; position: relative; }

.supercrop_overlay_right,
.supercrop_overlay_bottom   {background: #000; opacity:0.5; position:absolute; z-index:3; pointer-events: none;}

.supercrop_overlay_right  { height:100%; right:0; width:0;}  
.supercrop_overlay_bottom { bottom:0; height:0; width:100%;}  
    

.supercrop_image        { position: absolute; left: 0; top: 0; cursor: move; }
.supercrop_buttonpane   { position: absolute; right: 8px; bottom: 8px; z-index:4;}
.supercrop_button       { margin: 0px; background: black; border: none; font-family: Arial; display: block; opacity: 0.7; font-weight: bold; color: #fff; padding: 0px 0px; font-size: 18px; height: 25px; width: 30px; cursor: pointer; text-align: center; }
.supercrop_button:hover { opacity: 1 }
.supercrop_button:active
                        { opacity: 0.8 }

.supercrop_resize,
.supercrop_resize_width,
.supercrop_resize_height{ position:absolute; background:transparent; opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; z-index: 2;}   
.supercrop_hover        { opacity:0.8}  
           
.supercrop_resize_width {  right:0px; top:0px; height:100%; width:9px; cursor:w-resize; border-right:1px solid #000;}
.supercrop_resize_height{  left:0px; bottom:0px; width:100%; height:9px; cursor:s-resize; border-bottom:1px solid #000;}   
                        
.supercrop_resize 	    {  right:0px; bottom:0px; width:9px; height:9px; cursor: se-resize; z-index: 3;}                           
	
.supercrop_info         { position: absolute; top: 5px; right: 8px; z-index:4; background: black; opacity: 0.5; padding: 5px; color: #fff; font-size: 9px; }
.supercrop_info,
.supercrop_loader       { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.supercrop_zoom_in      { border-bottom: 1px solid #444; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.supercrop_loader       { display:none;  position: absolute; top: 50%; left: 50%; margin-top: -15px; z-index: 999; width: 30px; height: 30px; margin-left: -15px; opacity: 0.8;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";background: #111 url(img/loader.gif) no-repeat center center; }
.supercrop_zoom_out     { -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }
